:root {
  --bg: #3f51b5;
  --header: #e9eaf4;
  --border: #f7f7fa;
  --taskbody: white;
  --shadow: #f9c5d7;
  --modal: white;
  --btn: #e91e63;
  --btnBorder: transparent;
  --hoverBorder: #e91e63;
  --hoverColor: #e91e63;
  --ft: #3f51b5;
  --focus: #9ca1ba;
  --taskFt: #71789c;
  --taskFt2: #71789c;
  --modalInput: #71789c;
  --plus: #e91e63;
  --btnColor: white;
  --pink: #e91e63;
}

.dark {
  --bg: #11121d;
  --header: #25283a;
  --border: #25283a;
  --taskbody: #141622;
  --shadow: #411422;
  --modal: #11121d;
  --plus: deeppink;
  --ft: white;
  --focus: rebeccapurple;
  --taskFt: transparent;
  --taskFt2: white;
  --modalInput: white;
  --btn: transparent;
  --btnBorder: deeppink;
  --hoverBorder: #ff3fa7;
  --hoverColor: #ff3fa7;
  --btnColor: deeppink;
  --pink: deeppink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

#dark-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transform: rotate(230deg);
}

#dark-toggle:hover {
  color: #ffff81;
  transition: color 0.7 ease;
}

.todo {
  margin: 95px 0px;
  max-width: 375px;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}

.todo .todo-header {
  height: 87px;
  width: 100%;
  background: var(--header);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0px 24px 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo .todo-header h2 {
  font-size: 1.35rem;
  color: var(--ft);
}

.todo .todo-header h3 {
  color: #a4aaca;
  font-size: 1rem;
  font-weight: 400;
}

.todo .todo-header span {
  color: #a4aaca;
  font-size: 0.9rem;
}

.todo .todo-content .task {
  height: 4.4rem;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 0px 32px;
  background: var(--taskbody);
}

.todo .todo-content .task .checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.todo .todo-content .task .checkbox input[type='checkbox'] {
  cursor: pointer;
  position: relative;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.todo .todo-content .task .checkbox i.far.fa-circle,
.todo .todo-content .task .checkbox i.fas.fa-check-circle {
  position: absolute;
  left: -3px;
  top: 0;
  font-size: 1.3rem;
  cursor: pointer;
  pointer-events: none;
}

.todo .todo-content .task .checkbox i.far.fa-circle {
  color: #e9eaf480;
}

.todo .todo-content .task .checkbox i.fas.fa-check-circle {
  color: var(--pink);
}

.todo .todo-content .task .checkbox .task-text {
  color: #71789c;
  font-size: 1rem;
  margin-left: 25px;
}

.todo .todo-content .task .checkbox .completed {
  color: #71789c;
  font-size: 1rem;
  margin-left: 25px;
  text-decoration: line-through;
}

.todo .todo-content .task span {
  color: #a6aac2;
  font-size: 0.9rem;
  margin-right: 15px;
}

.todo .todo-content .task .far.fa-trash-alt {
  color: #a6aac2;
  cursor: pointer;
}

.todo .todo-content .task .far.fa-trash-alt:hover {
  color: var(--pink);
}

.todo .todo-footer {
  height: 6.125rem;
  position: relative;
  background: var(--taskbody);
  border: 1px solid var(--border);
}

.todo .todo-footer button {
  background: var(--plus);
  color: white;
  box-shadow: 0px 10px 14px var(--shadow);
  border: 1px solid transparent;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  right: 22px;
  top: 20px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease;
}

.todo .todo-footer button:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal .modal-header {
  padding-bottom: 2rem;
}

.modal .modal-content {
  background: var(--modal);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--focus);
  max-width: 650px;
  width: 100%;
  border-radius: 10px;
}

.modal .modal-content h2,
.modal .modal-content h3 {
  color: var(--taskFt2);
  padding-bottom: 1rem;
  font-weight: 300;
}

.modal .modal-content h2 {
  font-size: 2rem;
}

.modal .modal-content h3 {
  font-size: 1.5rem;
  margin-right: 15px;
}

.modal .modal-body {
  padding-bottom: 2rem;
}

.modal .modal-body input {
  width: 300px;
  height: 50px;
  border: 1px solid var(--focus);
  font-size: 1.1rem;
  color: var(--modalInput);
  padding-left: 10px;
  background: transparent;
}

.modal .modal-body input:focus {
  outline: none;
  border: 1px solid var(--focus);
}

.modal .modal-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal .modal-footer .start-time {
  display: flex;
  align-items: center;
}

.modal .modal-footer input {
  padding: 0.5rem;
  border: 1px solid var(--focus);
  background: var(--taskFt);
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}

.modal .modal-footer input:focus {
  outline: none;
}

.modal .modal-footer input[type='time']::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: invert(1);
}

.modal .modal-footer .addTaskBtn {
  background: var(--btn);
  color: var(--btnColor);
  outline: none;
  width: 30%;
  align-self: flex-end;
  border: 2px solid var(--btnBorder);
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  padding: 0rem 2.5rem;
  height: 55px;
}

.modal .modal-footer .addTaskBtn:hover {
  border: 2px solid var(--hoverBorder);
  background: transparent;
  color: var(--hoverColor);
  transition: all 0.7s ease;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: var(--pink);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal .modal-footer {
    flex-direction: column;
  }
  .modal .modal-footer .addTaskBtn {
    width: 70%;
    margin: 10px auto;
  }
}
